/**
 * @file
 * The CSS file for the Media Center module.
 *
 * Compiled from the SCSS file of the same name.
 */
/* Media Center View layout. */
.media-center-row {}

.media-center-sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .media-center-sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 5%;
  }
}

.media-center-main {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

/* Views Exposed Filter headers. */
.views-exposed-form .fieldset-legend {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.views-exposed-form .fieldset-legend:after {
  content: '';
  background-color: #083252;
  display: block;
  height: 5px;
  margin-top: 1rem;
}

/* Styling BEF Checkboxes to be like links so AJAX works. */
.views-exposed-form.bef-exposed-form input.form-radio {
  display: none;
}

/* Styling label like our links. */
.views-exposed-form.bef-exposed-form label {
  color: #083252;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.63;
  padding: 1rem 0 0;
}

/* Which means we need to add a hover state. */
.views-exposed-form.bef-exposed-form label:hover {
  color: #0d5f9e;
}

/* Changes the label if the input is checked.  Like an active state. */
.views-exposed-form.bef-exposed-form input.form-radio:checked + label {
  color: #0d5f9e;
  font-weight: 600;
}

/* Throw a little arrow before the active label. */
.views-exposed-form.bef-exposed-form input.form-radio:checked + label:before {
  border-color: transparent transparent transparent #0d5f9e;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  content: '';
  display: inline-block;
  height: 0;
  padding-right: 8px;
  width: 0;
}

/* Border bottom after the label. */
.views-exposed-form.bef-exposed-form label:after {
  content: '';
  background-color: #e9eef7;
  display: block;
  height: 2px;
  margin-top: 1rem
}

/* Media Center View List. */
.media-center-list li {
  background: transparent !important;
  padding: 0 !important;
}

.media-center-list a {
  display: block;
  padding: 1rem 0;
  text-decoration: none !important;
}

.media-center-list a.file .media-title:before {
  content: '\f15c';
  font-family: 'FontAwesome';
  font-weight: normal;
  margin-right: 10px;
}

.media-center-list a.media_center_remote_file .media-title:before {
  content: '\f14c';
  font-family: 'FontAwesome';
  font-weight: normal;
  margin-right: 10px;
}

.media-center-list a:after {
    content: '';
    background-color: #e9eef7;
    display: block;
    height: 2px;
    margin-top: 1rem;
}

.media-center-list a .ext:before {
  content: '' !important;
}

.media-center-list a .media-title {
  display: block;
}

.media-center-list a .media-category {
  color: #083252;
  font-size: 14px;
  font-weight: normal;
  padding-left: 26px;
  text-decoration: none;
}

.media-center-list a .media-mime-type {
  color: #083252;
  float: right;
  font-size: 14px;
  font-weight: normal;
  margin-top: -1rem;
  text-transform: uppercase;
}
